.navbar {
  border-radius: 0 0 8px 8px;
}
.container {
  margin-bottom: 70px;
}
.carousel-item {
  padding: 20px 60px;
}
.carousel-bg {
  background-color: #f8eae9;
  border-radius: 8px;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: white;
  border-style: none;
  border-radius: 5px;
  padding: 5px 15px;
}
.price {
  color: #ff136f;
}
.cat1 {
  background-image: linear-gradient(to right, #f39333, #f7c919);
}
.cat2 {
  background-image: linear-gradient(to right, #ef4a8f, #eb1e6b);
}
.cat3 {
  background-image: linear-gradient(to right, #4178ff, #3a0ffa);
}
.cat1,
.cat2,
.cat3 {
  padding: 20px 30px;
  border-radius: 8px;
}
.catagories h1 {
  color: white;
}
.catagories img {
  width: 100px;
}
.card {
  border: none;
  /* background-color: whitesmoke; */
  box-shadow: 3px 3px 25px lightgray;
}
.card-body {
  text-align: center;
}
.card-footer {
  border-top: none;
  background-color: white;
  text-align: center;
  height: 120px;
}
.contact{
  height: 300px;
  text-align: center;
}
.contact-items h6{
  color: gray;
  font-size: .95rem;
}
.send{
  margin-top: 10px;
}
footer{
  text-align: center;
  color: gray;
}